#level-1{
        position: relative;
        width: 700px;
        height: 100%;
        background-color: #787878;
    }
    #simple-info{
        position: absolute;
        top: 50px;
        height: 200px;
        left: 100px;
        
    }
    #picture{
        width: 150px;
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
    }
    #info{
        height: 100%;
        display: inline-block;    
    }

    #language{
        position: absolute;
       left: 100px;
        top:320px;
    }
    #project{
        position: absolute;
        top:500px;
        left: 100px;
    }
    table{
        padding-left: 20px; 
    }