        #Adbox{
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        #Adbox ul{
            list-style: none;
            width: 2000em;    
        }
        #Adbox ul li{
            float: left;
            list-style: none;
            height: 730px;
            
        }
.slide{
    position: relative;
}
.slidefont{
            font-size:20px;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .slide:first-child{
            background-color: darkgray
        }
        .slide:last-child{
            background-color: darkgray;
        }
        .slide:nth-child(2){
            background-color: bisque;
        }
        .slide:nth-child(3){
            background-color: yellow;
        }
        .slide:nth-child(4){
            background-color: green;
        }
        .desktop{
            width: 100%;
        }
        
        .cntactive{
            height: 14px;
            width: 14px;
            border-radius: 14px;
            background-color: white;
            display: inline-block;
            margin: 0 3px;
            text-indent: -2000em;
        }
.cntactive:first-child{
    background-color: black;
}
        .slidecnt{
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: center;
        }